---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('blog');
const sortedPosts = posts
  .sort((a, b) => b.data.created.valueOf() - a.data.created.valueOf())
  .map((post) => ({
    ...post,
    body:
      post.body &&
      post.body.substring(0, 100) + (post.body.length > 200 ? '...' : ''),
  }));

const getDateText = (post: CollectionEntry<'blog'>) => {
  const created = post.data.created;
  return `${created.getFullYear()}년 ${created.getMonth()}월 ${created.getDate()}일`;
};
---

<Layout>
  <div class="flex flex-col gap-4">
    {
      sortedPosts.map((post) => (
        <a href={post.data.permalink}>
            <div class="flex justify-between items-baseline">
              <h2 class="font-bold">{post.data.title}</h2>
              <p class="text-sm">{getDateText(post)}</p>
            </div>
            <p>{post.body}</p>
        </a>
      ))
    }
  </div>
</Layout>
